*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    height: auto;
    padding: 15px 15px;
    background: url(./wallpaperflare.com_wallpaper\ \(9\).jpg) center/cover;
    color: rgb(255, 255, 255);
    

}

.main__left{
    width: 75%;
    height: 95vh;
    overflow: auto;
}
.main__right{
    width: 25%;
    border-left: 1px solid black;
    height: 95vh;
    display: flex;
    justify-content: center;
    overflow: auto;
    
}
.content-task{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;
}
.divConreiner{
    padding: 5px;
    max-width: 320px;
    min-width: 320px;
    min-height: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(23, 14, 2, 0.489);
    border-radius: 15px;
    margin-bottom: 15px;
    /* background-color: aqua; */
}

p{
    word-wrap: break-word;
}

.dane{
    width: 100%; 
    height: 20px;
    margin-right: 15px;
    justify-self: start;
}
.task{
    word-wrap: break-word;
    width: 100%;
    width: 300px;
    text-align: center;
    font-size: 30px;
}
.timebtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 25px;
}
.btn-trash-box{
    margin-left: 15px;
    font-size: 25px;

}
.divInPForPandTrash{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    word-wrap: break-word !important;
    width: 100%;
    height: auto;
    overflow: hidden; 
    margin-top: 5px;
}
.divForP{
    word-wrap: break-word;
    width: 280px;
}


.addtask{
    width: 25x;
    padding: 0px 5px;
    font-size: 25px;
    margin-left: 15px;
}
.time{
    color: rgb(255, 255, 255);
}
.main__left-top{
    display: flex;
}
.main__leftp{
    display: flex;
}
.main__leftp p{
    font-size: 35px;
    margin-left: 25px;
}
.main__leftp p+p {
    margin-left: 55px;
}
.taskdane{
    font-size: 35px;
}
.main__left-top{
    gap: 5px;
    margin-bottom: 15px;
}